# EJERCICIO 1

Divide el texto

In [5]:
satellite = "It is Earth's only satellite"
move = "The moves 4cm away from the Earth every year"
tempereture = "Your are highest daylight temperature of  is 127 C"

In [4]:
satellite_number = satellite.split(".")
print(satellite_number)

["It is Earth's only satellite"]

In [6]:
it_move = move.split(".")
print(it_move)

['The moves 4cm away from the Earth every year']

In [8]:
tempereture_level = tempereture.split(".")
print(tempereture_level)

['Your are highest daylight temperature of  is 127 C']

Palabras clave

In [53]:
words = ["year", "C", "only", "daylight"]

Busqueda

In [67]:
for satellite in satellite_number: 
    for only in words:
         if only in satellite:
            print(satellite)

It is Earth's only satellite

In [66]:
for move in it_move:
    for year in words: 
        if year in move:
            print(move)

The moves 4cm away from the Earth every year

In [63]:
for tempereture in tempereture_level:
    for C in words: 
        if C in tempereture:
            print(tempereture)

Your are highest daylight temperature of  is 127 C

De C a Celsius

In [65]:
for tempereture in tempereture_level:
    for C in words:
        if C in tempereture:
            print(tempereture.replace("C", "celsius"))

Your are highest daylight temperature of  is 127 celsius

# Ejercicio 2: Formateando Cadenas

In [64]:
titulo_1 = "La gravedad de la "
titulo_2 = "Luna"
titulo_3 = " y la "
titulo_4 = "Tierra"

In [49]:
gravity = 0.00162
meters = 1000

In [63]:
titulo_c = f' {titulo_1}{titulo_2}{titulo_3}{titulo_4}'
print(titulo_c)

 La gravedad de la Luna y laTierra

In [57]:
print("La gravedad= " +str(gravity * meters) +" m/s2")

La gravedad= 1.6199999999999999 m/s2

Nuevo planeta

In [51]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [55]:
nuevo_planeta = """
Información sobre: {nombre}
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(nuevo_planeta.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Información sobre: Ganímedes
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [59]:
print(nuevo_planeta.format(nombre=nombre, planeta=planeta, gravedad=gravedad*meters))

Información sobre: Ganímedes
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2